<div class="block teaching">
  <h2>Teaching</h2>
  <nav class="teaching-navigation">
    <ul>
      <li>
        <a href="/CHIFEWD7">CHIFEWD7</a>
      </li>
    </ul>
  </nav>
  <hr>
</div><!-- /.block -->
