<div class="block teaching">
  <h2>FEWD Fall 2015</h2>
  <hr>
  <div class="sub-block">
    <h3><strong>Lesson 16:</strong> Responsive Basics</h3>
    <h4>Code Along + Slides</h4>
    <ul>
      <li>
        <a href="http://teaching.eboyer.io/FEWD_Fall_2015/FEWD_Lesson_16.zip" target="_blank">Download</a>
      </li>
    </ul>

    <h4>Solutions</h4>
    <ul>
      <li>
        <a href="http://teaching.eboyer.io/FEWD_Fall_2015/FEWD_Lesson_16/boxes_1_solution/" target="_blank">Boxes 1 Solution [LIVE]</a>
      </li>
      <li>
        <a href="http://teaching.eboyer.io/FEWD_Fall_2015/FEWD_Lesson_16/boxes_2_solution/" target="_blank">Boxes 2 Solution [LIVE]</a>
      </li>
      <li>
        <a href="http://teaching.eboyer.io/FEWD_Fall_2015/FEWD_Lesson_16/boxes_3_solution/" target="_blank">Boxes 3 Solution [LIVE]</a>
      </li>
    </ul>

    <h4>Resources</h4>
    <ul>
      <li><a href="http://learn.shayhowe.com/advanced-html-css/responsive-web-design/" target="_blank">http://learn.shayhowe.com/advanced-html-css/responsive-web-design/</a></li>
      <li><a href="http://stephencaver.com/" target="_blank">http://stephencaver.com/</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/@media" target="_blank">https://developer.mozilla.org/en-US/docs/Web/CSS/@media</a></li>
      <li><a href="http://bradfrost.github.io/this-is-responsive/" target="_blank">http://bradfrost.github.io/this-is-responsive/</a></li>
      <li><a href="http://mediaqueri.es/" target="_blank">http://mediaqueri.es/</a></li>
      <li><a href="https://css-tricks.com/css-media-queries/" target="_blank">https://css-tricks.com/css-media-queries/</a></li>
    </ul>
  </div>

  <div class="sub-block">
    <h3><strong>Lesson 17:</strong> Cont. Responsive + Lab</h3>
    <h4>Code Along + Lab + Slides</h4>
    <ul>
      <li>
        <a href="http://teaching.eboyer.io/FEWD_Fall_2015/FEWD_Lesson_17.zip" target="_blank">Download</a>
      </li>
      <li>
        <a href="http://teaching.eboyer.io/FEWD_Fall_2015/FEWD_Lesson_17/startup_matchmaker_solution.zip" target="_blank">Responsive Startup Matchmaker Solution [DOWNLOAD]</a>
      </li>
    </ul>

    <h4>Solutions</h4>
    <ul>
      <li>
        <a href="http://teaching.eboyer.io/FEWD_Fall_2015/FEWD_Lesson_17/boxes_4_solution/" target="_blank">Boxes 4 Solution [LIVE]</a>
      </li>
      <li>
        <a href="http://teaching.eboyer.io/FEWD_Fall_2015/FEWD_Lesson_17/startup_matchmaker_solution/" target="_blank">Responsive Startup Matchmaker Solution [LIVE]</a>
      </li>
    </ul>

    <h4>Resources</h4>
    <ul>
      <li><a href="https://j.eremy.net/confused-about-rem-and-em/" target="_blank">https://j.eremy.net/confused-about-rem-and-em/</a></li>
      <li><a href="http://pxtoem.com/" target="_blank">http://pxtoem.com/</a></li>
      <li><a href="https://css-tricks.com/rems-ems/" target="_blank">https://css-tricks.com/rems-ems/</a></li>
      <li><a href="https://www.youtube.com/watch?v=eOvHZDGK-kY" target="_blank">What a great snack!</a></li>
    </ul>
  </div>
</div><!-- /.block -->
